name: MLflow CI Trigger

on: [push]

jobs:
  run-mlflow-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn

      - name: Run Model Training Directly
        run: |
          # Jalankan script Python langsung (Bypass mlflow run CLI)
          python MLProject/modelling.py
